*, *::before, *::after {
box-sizing: border-box;
}

* {
margin: 0;
padding: 0;
font: inherit;
}

html {
color-scheme: dark light;
}

body {
height: 100vh;
}

img, picture, svg, video {
display: block;
max-width: 100%;
margin-bottom: 1em;
}

body {
  background-image: url(./assets/table.png);
  color: #fff;
  font-family:Arial, Helvetica, sans-serif;
}

.wrapper {
  width: 50%;
  margin: auto auto; 
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: .5em;
}

.remaining-cards {
  text-align: center;
  font-size: 1.25rem;
  margin: .5em;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.buttons {
  display: flex;
  justify-content: center;
}

.new-deck:hover,
.draw-cards:hover {
  background: green;
  color: #fff;
}

.new-deck,
.draw-cards {
  margin: 1em;
  padding: 0.5em 1em;
  border-radius: 5px;
  border: 0;
  font-weight: bold;
}